In [6]:
import dash
import plotly.graph_objs as go
import plotly.express as px
import matplotlib.pyplot as plt
from dash import Dash, dcc, html, Input, Output
from IPython.display import display, HTML
import pandas as pd
import pymysql
from sqlalchemy import create_engine, text
import requests
from datetime import datetime
import json
from flask import Flask
from flask import jsonify



pymysql.install_as_MySQLdb()
HOSTNAME = '192.168.0.120'
PORT = 3308
USERNAME = 'hjkim'
PASSWORD = '123456'
DATABASE = 'outlook'
CHARSET1 = 'utf8'
CHARSET2 = 'utf-8'

# 위 커넥션 정보와 동일하게 입력|
con_str_fmt = 'mysql+mysqldb://{0}:{1}@{2}:{3}/{4}?charset={5}'
con_str = con_str_fmt.format(USERNAME, PASSWORD, HOSTNAME, PORT, DATABASE, CHARSET1)

engine = create_engine(con_str)
conn = engine.connect()

s_date = (pd.Timestamp.today(tz = 'Asia/Seoul') - pd.Timedelta(days = 365)).strftime("%Y-%m-%d")
s_need = (pd.Timestamp.today(tz = 'Asia/Seoul') - pd.Timedelta(days = 365 + 6)).strftime("%Y-%m-%d")

s_date = (pd.Timestamp.today(tz = 'Asia/Seoul') - pd.Timedelta(days = 365)).strftime("%Y-%m-%d")
s_need = (pd.Timestamp.today(tz = 'Asia/Seoul') - pd.Timedelta(days = 365 + 6)).strftime("%Y-%m-%d")

s_date1 = '2022-01-01'
s_need1 = '2022-01-07'

In [7]:

q = f"""
select *
    from carenation_overview
    where 1=1
    and date_at >= "{s_need1}"
"""
df = pd.read_sql_query(q, engine)

var_ls = ['posts', 'apps', 'pay', 'cancel', 'service']
t = {}
for v in var_ls:
    t[v] = pd.pivot_table(df, index = ['date_at'], columns = ['job_type'], values = f'num_{v}', aggfunc = 'sum').reset_index() 
    orig_col, new_col = ['care', 'donghaeng', 'housekeeper'], [f'{v}_care', f'{v}_dh', f'{v}_hk']  
    for c in range(len(orig_col)):
        t[v][new_col[c]] = t[v][orig_col[c]].rolling(window = 7).mean()
    
    t[v] = t[v][t[v][f'{v}_care'].notnull()].reset_index(drop = True).copy().rename_axis(None, axis=1).drop(orig_col, axis = 1)

df_f = t['posts'].copy()
for v in var_ls[1:]:
    df_f = df_f.merge(t[v], on = 'date_at', how = 'outer', validate = '1:1')

In [3]:
df_f

,date_at,posts_care,posts_dh,posts_hk,apps_care,apps_dh,apps_hk,pay_care,pay_dh,pay_hk,cancel_care,cancel_dh,cancel_hk,service_care,service_dh,service_hk
0,2022-01-13,167.857143,0.000000,0.000000,260.285714,0.000000,0.000000,43.428571,0.000000,0.000000,13.285714,0.000000,0.000000,168.714286,0.000000,0.000000
1,2022-01-14,164.857143,0.000000,0.000000,264.000000,0.000000,0.000000,43.714286,0.000000,0.000000,13.428571,0.000000,0.000000,168.857143,0.000000,0.000000
2,2022-01-15,160.000000,0.000000,0.000000,269.142857,0.000000,0.000000,42.000000,0.000000,0.000000,13.285714,0.000000,0.000000,168.571429,0.000000,0.000000
3,2022-01-16,155.857143,0.000000,0.000000,272.857143,0.000000,0.000000,42.428571,0.000000,0.000000,13.285714,0.000000,0.000000,167.142857,0.000000,0.000000
4,2022-01-17,156.571429,0.000000,0.000000,286.142857,0.000000,0.000000,41.857143,0.000000,0.000000,13.142857,0.000000,0.000000,166.142857,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,2024-09-27,645.142857,6.428571,6.142857,809.714286,5.714286,8.142857,350.285714,2.000000,2.285714,54.571429,2.142857,1.857143,1325.857143,0.285714,3.142857
989,2024-09-28,643.571429,6.285714,5.571429,820.571429,6.285714,7.285714,350.714286,2.142857,2.285714,54.285714,2.142857,2.000000,1345.571429,0.285714,3.000000
990,2024-09-29,652.428571,6.285714,5.142857,820.428571,6.428571,6.142857,358.714286,2.000000,2.142857,54.142857,2.142857,2.000000,1364.285714,0.285714,3.000000
991,2024-09-30,651.285714,5.857143,4.857143,815.714286,6.857143,6.857143,358.857143,1.571429,1.714286,53.428571,1.571429,1.571429,1379.714286,0.285714,2.714286
992,2024-10-01,645.857143,4.714286,4.285714,807.285714,5.714286,6.000000,360.000000,0.857143,1.285714,43.285714,0.714286,1.000000,1394.714286,0.285714,2.714286

In [10]:

df_c = df_f.merge(pd.concat([df[df.care_A.notnull()][['date_at']], df[df.care_A.notnull()][['care_A', 'care_B', 'care_C']].rolling(window = 7).mean()], axis = 1),
                  on = 'date_at', how = 'outer', validate = '1:1')\
    .merge(pd.concat([df[df.job_type == 'care'][['date_at']], df[df.job_type == 'care'][['approved_amt', 'canceled_amt', 'net_amt']].rolling(window = 7).mean()], axis = 1),
           on = 'date_at', how = 'outer', validate = '1:1')

df_c = df_c.sort_values(by='date_at')[6:]
data_c = df_c[['date_at','care_A','care_B','care_C','approved_amt','canceled_amt']]
data_c['approved_amt'] = data_c['approved_amt'] * 10**(-8)
data_c['canceled_amt'] = data_c['canceled_amt'] * 10**(-8)

C:\Users\hmcte\AppData\Local\Temp\ipykernel_17212\173468644.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_c['approved_amt'] = data_c['approved_amt'] * 10**(-8)
C:\Users\hmcte\AppData\Local\Temp\ipykernel_17212\173468644.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_c['canceled_amt'] = data_c['canceled_amt'] * 10**(-8)

In [11]:
df_c

,date_at,posts_care,posts_dh,posts_hk,apps_care,apps_dh,apps_hk,pay_care,pay_dh,pay_hk,...,cancel_hk,service_care,service_dh,service_hk,care_A,care_B,care_C,approved_amt,canceled_amt,net_amt
0,2022-01-13,167.857143,0.000000,0.000000,260.285714,0.000000,0.000000,43.428571,0.000000,0.000000,...,0.000000,168.714286,0.000000,0.000000,NaN,NaN,NaN,2.765879e+07,7.254814e+06,2.040397e+07
1,2022-01-14,164.857143,0.000000,0.000000,264.000000,0.000000,0.000000,43.714286,0.000000,0.000000,...,0.000000,168.857143,0.000000,0.000000,NaN,NaN,NaN,3.005724e+07,8.654757e+06,2.140249e+07
2,2022-01-15,160.000000,0.000000,0.000000,269.142857,0.000000,0.000000,42.000000,0.000000,0.000000,...,0.000000,168.571429,0.000000,0.000000,NaN,NaN,NaN,2.975307e+07,9.344200e+06,2.040887e+07
3,2022-01-16,155.857143,0.000000,0.000000,272.857143,0.000000,0.000000,42.428571,0.000000,0.000000,...,0.000000,167.142857,0.000000,0.000000,NaN,NaN,NaN,2.867640e+07,9.334529e+06,1.934187e+07
4,2022-01-17,156.571429,0.000000,0.000000,286.142857,0.000000,0.000000,41.857143,0.000000,0.000000,...,0.000000,166.142857,0.000000,0.000000,NaN,NaN,NaN,2.837677e+07,9.552914e+06,1.882386e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,2024-09-27,645.142857,6.428571,6.142857,809.714286,5.714286,8.142857,350.285714,2.000000,2.285714,...,1.857143,1325.857143,0.285714,3.142857,256.000000,166.857143,903.000000,1.713996e+08,2.302489e+07,1.483747e+08
989,2024-09-28,643.571429,6.285714,5.571429,820.571429,6.285714,7.285714,350.714286,2.142857,2.285714,...,2.000000,1345.571429,0.285714,3.000000,259.571429,166.428571,919.571429,1.722698e+08,2.377497e+07,1.484948e+08
990,2024-09-29,652.428571,6.285714,5.142857,820.428571,6.428571,6.142857,358.714286,2.000000,2.142857,...,2.000000,1364.285714,0.285714,3.000000,261.142857,165.857143,937.285714,1.754625e+08,2.376588e+07,1.516966e+08
991,2024-09-30,651.285714,5.857143,4.857143,815.714286,6.857143,6.857143,358.857143,1.571429,1.714286,...,1.571429,1379.714286,0.285714,2.714286,265.000000,162.857143,951.857143,1.756429e+08,2.276005e+07,1.528828e+08
992,2024-10-01,645.857143,4.714286,4.285714,807.285714,5.714286,6.000000,360.000000,0.857143,1.285714,...,1.000000,1394.714286,0.285714,2.714286,272.000000,161.571429,961.142857,1.765626e+08,1.886227e+07,1.577003e+08

In [12]:

df_c = df_c.sort_values(by='date_at')[6:]
data_c = df_c[['date_at','care_A','care_B','care_C','approved_amt','canceled_amt']]
data_c['approved_amt'] = data_c['approved_amt'] * 10**(-8)
data_c['canceled_amt'] = data_c['canceled_amt'] * 10**(-8)

df_h = df_f.merge(pd.concat([df[df.job_type == 'housekeeper'][['date_at']], df[df.job_type == 'housekeeper'][['approved_amt', 'canceled_amt']].rolling(window = 7).mean()], axis = 1),
           on = 'date_at', how = 'outer', validate = '1:1')
df_h = df_h.sort_values(by='date_at')[6:]
data_h = df_h[['date_at','approved_amt', 'canceled_amt']]
data_h['approved_amt'] = data_h['approved_amt'] * 10**(-8)
data_h['canceled_amt'] = data_h['canceled_amt'] * 10**(-8)
data_h.columns = ['date_at','approved_amt_h','canceled_amt_h']

df_d = df_f.merge(pd.concat([df[df.job_type == 'donghaeng'][['date_at']], df[df.job_type == 'donghaeng'][['approved_amt', 'canceled_amt']].rolling(window = 7).mean()], axis = 1),
           on = 'date_at', how = 'outer', validate = '1:1')
df_d = df_d.sort_values(by='date_at')[6:]
data_d = df_d[['date_at','approved_amt', 'canceled_amt']]
data_d['approved_amt'] = data_d['approved_amt'] * 10**(-8)
data_d['canceled_amt'] = data_d['canceled_amt'] * 10**(-8)
data_d.columns = ['date_at','approved_amt_d','canceled_amt_d']

df = pd.merge(df_f,data_c, on='date_at')
df = pd.merge(df,data_d, on='date_at')
df = pd.merge(df,data_h, on='date_at')

C:\Users\hmcte\AppData\Local\Temp\ipykernel_17212\3018722025.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_c['approved_amt'] = data_c['approved_amt'] * 10**(-8)
C:\Users\hmcte\AppData\Local\Temp\ipykernel_17212\3018722025.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_c['canceled_amt'] = data_c['canceled_amt'] * 10**(-8)
C:\Users\hmcte\AppData\Local\Temp\ipykernel_17212\3018722025.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['approved_amt'] = data_h['approved_amt'] * 10**(-8)
C:\Users\hmcte\AppData\Local\Temp\ipykernel_17212\3018722025.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_h['canceled_amt'] = data_h['canceled_amt'] * 10**(-8)
C:\Users\hmcte\AppData\Local\Temp\ipykernel_17212\3018722025.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_d['approved_amt'] = data_d['approved_amt'] * 10**(-8)
C:\Users\hmcte\AppData\Local\Temp\ipykernel_17212\3018722025.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_d['canceled_amt'] = data_d['canceled_amt'] * 10**(-8)

In [13]:
df

,date_at,posts_care,posts_dh,posts_hk,apps_care,apps_dh,apps_hk,pay_care,pay_dh,pay_hk,...,service_hk,care_A,care_B,care_C,approved_amt,canceled_amt,approved_amt_d,canceled_amt_d,approved_amt_h,canceled_amt_h
0,2022-01-19,156.857143,0.000000,0.000000,282.000000,0.000000,0.000000,43.714286,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.303346,0.103634,0.000000,0.000000,0.000000,0.000000
1,2022-01-20,156.000000,0.000000,0.000000,271.428571,0.000000,0.000000,44.571429,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.313446,0.115916,0.000000,0.000000,0.000000,0.000000
2,2022-01-21,152.285714,0.000000,0.000000,255.285714,0.000000,0.000000,41.857143,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.276240,0.100937,0.000000,0.000000,0.000000,0.000000
3,2022-01-22,151.428571,0.000000,0.000000,248.000000,0.000000,0.000000,41.571429,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.277610,0.091284,0.000000,0.000000,0.000000,0.000000
4,2022-01-23,152.285714,0.000000,0.000000,245.714286,0.000000,0.000000,40.285714,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.283768,0.091119,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,2024-09-27,645.142857,6.428571,6.142857,809.714286,5.714286,8.142857,350.285714,2.000000,2.285714,...,3.142857,256.000000,166.857143,903.000000,1.713996,0.230249,0.005110,0.005299,0.009792,0.000994
983,2024-09-28,643.571429,6.285714,5.571429,820.571429,6.285714,7.285714,350.714286,2.142857,2.285714,...,3.000000,259.571429,166.428571,919.571429,1.722698,0.237750,0.005527,0.005299,0.009570,0.001068
984,2024-09-29,652.428571,6.285714,5.142857,820.428571,6.428571,6.142857,358.714286,2.000000,2.142857,...,3.000000,261.142857,165.857143,937.285714,1.754625,0.237659,0.005110,0.005299,0.007609,0.001068
985,2024-09-30,651.285714,5.857143,4.857143,815.714286,6.857143,6.857143,358.857143,1.571429,1.714286,...,2.714286,265.000000,162.857143,951.857143,1.756429,0.227601,0.004166,0.003855,0.007390,0.004641
986,2024-10-01,645.857143,4.714286,4.285714,807.285714,5.714286,6.000000,360.000000,0.857143,1.285714,...,2.714286,272.000000,161.571429,961.142857,1.765626,0.188623,0.002361,0.001768,0.006404,0.004345

In [15]:
df.fillna('NaN')

,date_at,posts_care,posts_dh,posts_hk,apps_care,apps_dh,apps_hk,pay_care,pay_dh,pay_hk,...,service_hk,care_A,care_B,care_C,approved_amt,canceled_amt,approved_amt_d,canceled_amt_d,approved_amt_h,canceled_amt_h
0,2022-01-19,156.857143,0.000000,0.000000,282.000000,0.000000,0.000000,43.714286,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.303346,0.103634,0.000000,0.000000,0.000000,0.000000
1,2022-01-20,156.000000,0.000000,0.000000,271.428571,0.000000,0.000000,44.571429,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.313446,0.115916,0.000000,0.000000,0.000000,0.000000
2,2022-01-21,152.285714,0.000000,0.000000,255.285714,0.000000,0.000000,41.857143,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.276240,0.100937,0.000000,0.000000,0.000000,0.000000
3,2022-01-22,151.428571,0.000000,0.000000,248.000000,0.000000,0.000000,41.571429,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.277610,0.091284,0.000000,0.000000,0.000000,0.000000
4,2022-01-23,152.285714,0.000000,0.000000,245.714286,0.000000,0.000000,40.285714,0.000000,0.000000,...,0.000000,NaN,NaN,NaN,0.283768,0.091119,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982,2024-09-27,645.142857,6.428571,6.142857,809.714286,5.714286,8.142857,350.285714,2.000000,2.285714,...,3.142857,256.0,166.857143,903.0,1.713996,0.230249,0.005110,0.005299,0.009792,0.000994
983,2024-09-28,643.571429,6.285714,5.571429,820.571429,6.285714,7.285714,350.714286,2.142857,2.285714,...,3.000000,259.571429,166.428571,919.571429,1.722698,0.237750,0.005527,0.005299,0.009570,0.001068
984,2024-09-29,652.428571,6.285714,5.142857,820.428571,6.428571,6.142857,358.714286,2.000000,2.142857,...,3.000000,261.142857,165.857143,937.285714,1.754625,0.237659,0.005110,0.005299,0.007609,0.001068
985,2024-09-30,651.285714,5.857143,4.857143,815.714286,6.857143,6.857143,358.857143,1.571429,1.714286,...,2.714286,265.0,162.857143,951.857143,1.756429,0.227601,0.004166,0.003855,0.007390,0.004641
986,2024-10-01,645.857143,4.714286,4.285714,807.285714,5.714286,6.000000,360.000000,0.857143,1.285714,...,2.714286,272.0,161.571429,961.142857,1.765626,0.188623,0.002361,0.001768,0.006404,0.004345

In [118]:
#donghaeng

In [ ]:
df.columns