In [2]:
import dash
import plotly.graph_objs as go
import plotly.express as px
import matplotlib.pyplot as plt
from dash import Dash, dcc, html, Input, Output
from IPython.display import display, HTML
import pandas as pd
import pymysql
from sqlalchemy import create_engine, text
import requests
from datetime import datetime
import json
from flask import Flask
from flask import jsonify

In [3]:


pymysql.install_as_MySQLdb()
HOSTNAME = '192.168.0.120'
PORT = 3308
USERNAME = 'hjkim'
PASSWORD = '123456'
DATABASE = 'outlook'
CHARSET1 = 'utf8'
CHARSET2 = 'utf-8'

# 위 커넥션 정보와 동일하게 입력|
con_str_fmt = 'mysql+mysqldb://{0}:{1}@{2}:{3}/{4}?charset={5}'
con_str = con_str_fmt.format(USERNAME, PASSWORD, HOSTNAME, PORT, DATABASE, CHARSET1)

engine = create_engine(con_str)
conn = engine.connect()

s_date = (pd.Timestamp.today(tz = 'Asia/Seoul') - pd.Timedelta(days = 365)).strftime("%Y-%m-%d")
s_need = (pd.Timestamp.today(tz = 'Asia/Seoul') - pd.Timedelta(days = 365 + 6)).strftime("%Y-%m-%d")

s_date = (pd.Timestamp.today(tz = 'Asia/Seoul') - pd.Timedelta(days = 365)).strftime("%Y-%m-%d")
s_need = (pd.Timestamp.today(tz = 'Asia/Seoul') - pd.Timedelta(days = 365 + 6)).strftime("%Y-%m-%d")

In [4]:
s_date1 = '2022-01-01'

In [5]:
s_need1 = '2022-01-07'

In [6]:

q = f"""
select *
    from carenation_overview
    where 1=1
    and date_at >= "{s_need1}"
"""
df = pd.read_sql_query(q, engine)

var_ls = ['posts', 'apps', 'pay', 'cancel', 'service']
t = {}
for v in var_ls:
    t[v] = pd.pivot_table(df, index = ['date_at'], columns = ['job_type'], values = f'num_{v}', aggfunc = 'sum').reset_index() 
    orig_col, new_col = ['care', 'donghaeng', 'housekeeper'], [f'{v}_care', f'{v}_dh', f'{v}_hk']  
    for c in range(len(orig_col)):
        t[v][new_col[c]] = t[v][orig_col[c]].rolling(window = 7).mean()
    
    t[v] = t[v][t[v][f'{v}_care'].notnull()].reset_index(drop = True).copy().rename_axis(None, axis=1).drop(orig_col, axis = 1)

df_f = t['posts'].copy()

In [7]:
df_f

        date_at  posts_care   posts_dh  posts_hk
0    2022-01-13  167.857143   0.000000  0.000000
1    2022-01-14  164.857143   0.000000  0.000000
2    2022-01-15  160.000000   0.000000  0.000000
3    2022-01-16  155.857143   0.000000  0.000000
4    2022-01-17  156.571429   0.000000  0.000000
..          ...         ...        ...       ...
986  2024-09-25  670.714286  10.714286  8.142857
987  2024-09-26  654.142857   9.142857  7.142857
988  2024-09-27  645.142857   6.428571  6.142857
989  2024-09-28  643.571429   6.285714  5.571429
990  2024-09-29  652.428571   6.285714  5.142857

[991 rows x 4 columns]

In [193]:
for v in var_ls[1:]:
    df_f = df_f.merge(t[v], on = 'date_at', how = 'outer', validate = '1:1')
df_c = df_f.merge(pd.concat([df[df.care_A.notnull()][['date_at']], df[df.care_A.notnull()][['care_A', 'care_B', 'care_C']].rolling(window = 7).mean()], axis = 1),
                  on = 'date_at', how = 'outer', validate = '1:1')\
    .merge(pd.concat([df[df.job_type == 'care'][['date_at']], df[df.job_type == 'care'][['approved_amt', 'canceled_amt', 'net_amt']].rolling(window = 7).mean()], axis = 1),
           on = 'date_at', how = 'outer', validate = '1:1')

df_c = df_c.sort_values(by='date_at')[6:]

In [194]:
df_c

,date_at,posts_care,posts_dh,posts_hk,apps_care,apps_dh,apps_hk,pay_care,pay_dh,pay_hk,...,cancel_hk,service_care,service_dh,service_hk,care_A,care_B,care_C,approved_amt,canceled_amt,net_amt
0,2022-01-13,167.857143,0.000000,0.000000,260.285714,0.000000,0.000000,43.428571,0.000000,0.000000,...,0.000000,168.714286,0.000000,0.000000,NaN,NaN,NaN,2.765879e+07,7.254814e+06,2.040397e+07
1,2022-01-14,164.857143,0.000000,0.000000,264.000000,0.000000,0.000000,43.714286,0.000000,0.000000,...,0.000000,168.857143,0.000000,0.000000,NaN,NaN,NaN,3.005724e+07,8.654757e+06,2.140249e+07
2,2022-01-15,160.000000,0.000000,0.000000,269.142857,0.000000,0.000000,42.000000,0.000000,0.000000,...,0.000000,168.571429,0.000000,0.000000,NaN,NaN,NaN,2.975307e+07,9.344200e+06,2.040887e+07
3,2022-01-16,155.857143,0.000000,0.000000,272.857143,0.000000,0.000000,42.428571,0.000000,0.000000,...,0.000000,167.142857,0.000000,0.000000,NaN,NaN,NaN,2.867640e+07,9.334529e+06,1.934187e+07
4,2022-01-17,156.571429,0.000000,0.000000,286.142857,0.000000,0.000000,41.857143,0.000000,0.000000,...,0.000000,166.142857,0.000000,0.000000,NaN,NaN,NaN,2.837677e+07,9.552914e+06,1.882386e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,2024-09-19,511.857143,3.857143,5.428571,633.428571,5.428571,3.714286,269.000000,1.285714,1.857143,...,1.428571,1204.714286,0.285714,3.142857,244.428571,156.571429,803.714286,1.345206e+08,1.911885e+07,1.154018e+08
981,2024-09-20,514.428571,6.857143,6.142857,643.857143,9.285714,4.714286,268.285714,1.714286,2.000000,...,1.428571,1182.714286,0.142857,3.428571,235.285714,156.142857,791.285714,1.343685e+08,1.858689e+07,1.157816e+08
982,2024-09-21,512.285714,7.142857,6.714286,639.428571,9.571429,5.714286,263.714286,1.714286,2.142857,...,1.428571,1176.428571,0.142857,3.714286,232.857143,155.142857,788.428571,1.293736e+08,1.566802e+07,1.137056e+08
983,2024-09-22,518.571429,7.285714,6.857143,659.142857,9.714286,6.714286,269.857143,1.857143,2.142857,...,1.428571,1179.714286,0.142857,3.571429,233.285714,156.142857,790.285714,1.316881e+08,1.549817e+07,1.161900e+08
984,2024-09-23,595.142857,8.285714,7.571429,747.142857,10.000000,7.857143,314.571429,2.428571,2.714286,...,2.000000,1201.285714,0.142857,3.714286,236.428571,158.571429,806.285714,1.544951e+08,2.116356e+07,1.333315e+08

In [195]:
data = df_c[['date_at','service_care','service_dh','service_hk','care_A','care_B','care_C','pay_care','cancel_care','approved_amt','canceled_amt','posts_care','apps_care']]

In [196]:
data

,date_at,service_care,service_dh,service_hk,care_A,care_B,care_C,pay_care,cancel_care,approved_amt,canceled_amt,posts_care,apps_care
0,2022-01-13,168.714286,0.000000,0.000000,NaN,NaN,NaN,43.428571,13.285714,2.765879e+07,7.254814e+06,167.857143,260.285714
1,2022-01-14,168.857143,0.000000,0.000000,NaN,NaN,NaN,43.714286,13.428571,3.005724e+07,8.654757e+06,164.857143,264.000000
2,2022-01-15,168.571429,0.000000,0.000000,NaN,NaN,NaN,42.000000,13.285714,2.975307e+07,9.344200e+06,160.000000,269.142857
3,2022-01-16,167.142857,0.000000,0.000000,NaN,NaN,NaN,42.428571,13.285714,2.867640e+07,9.334529e+06,155.857143,272.857143
4,2022-01-17,166.142857,0.000000,0.000000,NaN,NaN,NaN,41.857143,13.142857,2.837677e+07,9.552914e+06,156.571429,286.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,2024-09-19,1204.714286,0.285714,3.142857,244.428571,156.571429,803.714286,269.000000,42.000000,1.345206e+08,1.911885e+07,511.857143,633.428571
981,2024-09-20,1182.714286,0.142857,3.428571,235.285714,156.142857,791.285714,268.285714,40.000000,1.343685e+08,1.858689e+07,514.428571,643.857143
982,2024-09-21,1176.428571,0.142857,3.714286,232.857143,155.142857,788.428571,263.714286,37.571429,1.293736e+08,1.566802e+07,512.285714,639.428571
983,2024-09-22,1179.714286,0.142857,3.571429,233.285714,156.142857,790.285714,269.857143,37.428571,1.316881e+08,1.549817e+07,518.571429,659.142857
984,2024-09-23,1201.285714,0.142857,3.714286,236.428571,158.571429,806.285714,314.571429,50.428571,1.544951e+08,2.116356e+07,595.142857,747.142857

In [186]:
data.loc[500:]

,date_at,service_care,service_dh,service_hk,care_A,care_B,care_C,pay_care,cancel_care,approved_amt,canceled_amt,posts_care,apps_care
500,2023-05-28,324.285714,0.142857,1.428571,NaN,NaN,NaN,72.714286,19.571429,4.487049e+07,1.039007e+07,247.857143,286.000000
501,2023-05-29,322.571429,0.000000,1.428571,NaN,NaN,NaN,66.857143,17.857143,4.235401e+07,8.511571e+06,232.714286,262.857143
502,2023-05-30,321.000000,0.000000,1.428571,NaN,NaN,NaN,68.285714,18.142857,4.430730e+07,8.676571e+06,230.000000,263.000000
503,2023-05-31,318.428571,0.000000,1.571429,NaN,NaN,NaN,68.714286,18.000000,4.665276e+07,8.886986e+06,228.571429,272.142857
504,2023-06-01,315.000000,0.000000,1.571429,NaN,NaN,NaN,69.714286,17.571429,4.685669e+07,9.259557e+06,236.428571,293.714286
...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,2024-09-19,1204.714286,0.285714,3.142857,244.428571,156.571429,803.714286,269.000000,42.000000,1.345206e+08,1.911885e+07,511.857143,633.428571
981,2024-09-20,1182.714286,0.142857,3.428571,235.285714,156.142857,791.285714,268.285714,40.000000,1.343685e+08,1.858689e+07,514.428571,643.857143
982,2024-09-21,1176.428571,0.142857,3.714286,232.857143,155.142857,788.428571,263.714286,37.571429,1.293736e+08,1.566802e+07,512.285714,639.428571
983,2024-09-22,1179.714286,0.142857,3.571429,233.285714,156.142857,790.285714,269.857143,37.428571,1.316881e+08,1.549817e+07,518.571429,659.142857
984,2024-09-23,1201.285714,0.142857,3.714286,236.428571,158.571429,806.285714,314.571429,50.428571,1.544951e+08,2.116356e+07,595.142857,747.142857

In [155]:
df_d = df_f.merge(pd.concat([df[df.care_A.notnull()][['date_at']], df[df.care_A.notnull()][['care_A', 'care_B', 'care_C']].rolling(window = 7).mean()], axis = 1),
                  on = 'date_at', how = 'outer', validate = '1:1')\
    .merge(pd.concat([df[df.job_type == 'donghaeng'][['date_at']], df[df.job_type == 'donghaeng'][['approved_amt', 'canceled_amt', 'net_amt']].rolling(window = 7).mean()], axis = 1),
           on = 'date_at', how = 'outer', validate = '1:1')

df_d = df_d.sort_values(by='date_at')[6:]

In [156]:
df_d.loc[420:]

,date_at,posts_care,posts_dh,posts_hk,apps_care,apps_dh,apps_hk,pay_care,pay_dh,pay_hk,...,cancel_hk,service_care,service_dh,service_hk,care_A,care_B,care_C,approved_amt,canceled_amt,net_amt
420,2023-03-09,179.571429,1.428571,0.000000,316.571429,1.428571,0.000000,47.857143,0.142857,0.000000,...,0.000000,216.714286,0.000000,0.000000,NaN,NaN,NaN,18200.000000,18200.000000,0.000000
421,2023-03-10,184.142857,1.857143,0.000000,323.142857,1.857143,0.000000,48.000000,0.142857,0.000000,...,0.000000,212.714286,0.000000,0.000000,NaN,NaN,NaN,18200.000000,18200.000000,0.000000
422,2023-03-11,189.142857,1.857143,0.000000,331.428571,2.142857,0.000000,49.285714,0.428571,0.000000,...,0.000000,211.714286,0.000000,0.000000,NaN,NaN,NaN,54600.000000,18200.000000,36400.000000
423,2023-03-12,185.714286,1.857143,0.000000,354.857143,2.142857,0.000000,49.714286,0.428571,0.000000,...,0.000000,211.428571,0.000000,0.000000,NaN,NaN,NaN,54600.000000,18200.000000,36400.000000
424,2023-03-13,181.285714,1.857143,0.000000,368.714286,2.142857,0.000000,49.571429,0.428571,0.000000,...,0.000000,210.857143,0.142857,0.000000,NaN,NaN,NaN,54600.000000,18200.000000,36400.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,2024-09-19,511.857143,3.857143,5.428571,633.428571,5.428571,3.714286,269.000000,1.285714,1.857143,...,1.428571,1204.714286,0.285714,3.142857,244.428571,156.571429,803.714286,126360.000000,124585.714286,1774.285714
981,2024-09-20,514.428571,6.857143,6.142857,643.857143,9.285714,4.714286,268.285714,1.714286,2.000000,...,1.428571,1182.714286,0.142857,3.428571,235.285714,156.142857,791.285714,347760.000000,280800.000000,66960.000000
982,2024-09-21,512.285714,7.142857,6.714286,639.428571,9.571429,5.714286,263.714286,1.714286,2.142857,...,1.428571,1176.428571,0.142857,3.714286,232.857143,155.142857,788.428571,347760.000000,280800.000000,66960.000000
983,2024-09-22,518.571429,7.285714,6.857143,659.142857,9.714286,6.714286,269.857143,1.857143,2.142857,...,1.428571,1179.714286,0.142857,3.571429,233.285714,156.142857,790.285714,389417.142857,280800.000000,108617.142857
984,2024-09-23,595.142857,8.285714,7.571429,747.142857,10.000000,7.857143,314.571429,2.428571,2.714286,...,2.000000,1201.285714,0.142857,3.714286,236.428571,158.571429,806.285714,533828.571429,425211.428571,108617.142857

In [157]:
df_h = df_f.merge(pd.concat([df[df.care_A.notnull()][['date_at']], df[df.care_A.notnull()][['care_A', 'care_B', 'care_C']].rolling(window = 7).mean()], axis = 1),
                  on = 'date_at', how = 'outer', validate = '1:1')\
    .merge(pd.concat([df[df.job_type == 'housekeeper'][['date_at']], df[df.job_type == 'housekeeper'][['approved_amt', 'canceled_amt', 'net_amt']].rolling(window = 7).mean()], axis = 1),
           on = 'date_at', how = 'outer', validate = '1:1')

df_h = df_h.sort_values(by='date_at')[6:]

In [160]:
df_h.loc[480:]

,date_at,posts_care,posts_dh,posts_hk,apps_care,apps_dh,apps_hk,pay_care,pay_dh,pay_hk,...,cancel_hk,service_care,service_dh,service_hk,care_A,care_B,care_C,approved_amt,canceled_amt,net_amt
480,2023-05-08,239.000000,0.285714,3.000000,353.285714,0.285714,3.857143,68.428571,0.000000,0.142857,...,0.000000,268.857143,0.000000,0.142857,NaN,NaN,NaN,7868.571429,0.000000,7868.571429
481,2023-05-09,246.571429,0.285714,3.714286,354.428571,0.285714,4.285714,67.285714,0.000000,0.142857,...,0.000000,268.571429,0.000000,0.142857,NaN,NaN,NaN,7868.571429,0.000000,7868.571429
482,2023-05-10,250.428571,0.285714,3.142857,346.428571,0.285714,5.142857,68.571429,0.000000,0.142857,...,0.000000,269.428571,0.000000,0.142857,NaN,NaN,NaN,7868.571429,0.000000,7868.571429
483,2023-05-11,255.000000,0.285714,2.714286,350.000000,0.285714,5.428571,69.000000,0.000000,0.142857,...,0.000000,272.142857,0.000000,0.142857,NaN,NaN,NaN,7868.571429,0.000000,7868.571429
484,2023-05-12,266.428571,0.571429,2.714286,356.285714,0.428571,6.428571,73.571429,0.142857,0.142857,...,0.000000,279.285714,0.000000,0.142857,NaN,NaN,NaN,7868.571429,0.000000,7868.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,2024-09-19,511.857143,3.857143,5.428571,633.428571,5.428571,3.714286,269.000000,1.285714,1.857143,...,1.428571,1204.714286,0.285714,3.142857,244.428571,156.571429,803.714286,248477.142857,135308.571429,113168.571429
981,2024-09-20,514.428571,6.857143,6.142857,643.857143,9.285714,4.714286,268.285714,1.714286,2.000000,...,1.428571,1182.714286,0.142857,3.428571,235.285714,156.142857,791.285714,280414.285714,135308.571429,145105.714286
982,2024-09-21,512.285714,7.142857,6.714286,639.428571,9.571429,5.714286,263.714286,1.714286,2.142857,...,1.428571,1176.428571,0.142857,3.714286,232.857143,155.142857,788.428571,310037.142857,135308.571429,174728.571429
983,2024-09-22,518.571429,7.285714,6.857143,659.142857,9.714286,6.714286,269.857143,1.857143,2.142857,...,1.428571,1179.714286,0.142857,3.571429,233.285714,156.142857,790.285714,498420.000000,135308.571429,363111.428571
984,2024-09-23,595.142857,8.285714,7.571429,747.142857,10.000000,7.857143,314.571429,2.428571,2.714286,...,2.000000,1201.285714,0.142857,3.714286,236.428571,158.571429,806.285714,528042.857143,164931.428571,363111.428571